html, body {
    max-width: 100%;
    overflow-x: hidden;
}
body {
    font-family: 'Roboto', sans-serif;
    background-color: rgb(51, 51, 51);
    color: white;
    padding: 0;
    margin: 0;
}
h1 {
    position: absolute;
    font-size: 5rem;
    margin-left: 1em;
    margin-top: 15rem;
}
.title {
    background: url("./title.png");
    background-size: auto;
    background-repeat: no-repeat;
    margin-left: -0.5rem;
    margin-right: -0.5rem;
    height: 40rem;
    margin-top: -1rem;
}
.wrapper {
    width: 98vw;
    margin-top: 10vh;
    overflow: auto;
}
.p-image {
    border-radius: 25px;
    width: 60%;
}
.p-left, .p-right {
    backdrop-filter: brightness(150%);
    padding: 1rem;
    border-radius: 25px;
    width: 50%;
    margin: 1rem 3rem 0 3rem;
    font-size: 1.5rem;
}
.serverstats {
    display: flex;
    justify-content: space-between;
}
.serverstats * {
    backdrop-filter: brightness(150%);
    padding: 1rem;
    border-radius: 25px;
    margin: 1rem 3rem 0 3rem;
    font-size: 2rem;
}
.fa-copy {
    padding: 0;
    margin: 0;
    margin-left: 1em;
    width: 1em;
    height: 0;
}
.p-left {
    float: left;
    clear: both;
}
.p-right {
    margin-top: 5rem;
    float: right;
}
.green {
    color: #43ff40;
}
.red {
    color: #ff4040;
}