html, body {
    max-width: 100%;
    overflow-x: hidden;
}
body {
    font-family: 'Roboto', sans-serif;
    background: #36D1DC;
    background: -webkit-linear-gradient(to right, #5B86E5, #36D1DC);
    background: linear-gradient(to right, #3b5ba0, #249ba3);
    color: rgb(255, 255, 255);
    padding: 0;
    margin: 0;
}
body::-webkit-scrollbar {
    width: 0.42rem;
}
body::-webkit-scrollbar-track {
    background-color: #0f0c29;
}
body::-webkit-scrollbar-thumb {
    background-color: rgb(127.5, 127.5, 127.5);
}
body::-webkit-scrollbar-thumb:hover {
    background-color: rgb(159, 159, 159);
    transition: all 1s;
}
h1 {
    position: absolute;
    font-size: 5rem;
    margin-left: 1em;
    margin-top: 15rem;
}
.title {
    /* background: url("./title.png");
    background-size: auto;
    background-repeat: no-repeat; */
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.10), rgba(255, 255, 255, 0));
    margin-left: -0.5rem;
    margin-right: -0.5rem;
    height: 35rem;
    margin-top: -1rem;
}
.wrapper {
    width: 98vw;
    margin-top: 10vh;
    overflow: auto;
}
.p-image {
    border-radius: 25px;
    width: 60%;
}
.p-left, .p-right {
    backdrop-filter: brightness(125%);
    padding: 1rem;
    border-radius: 25px;
    width: 50%;
    margin: 1rem 3rem 0 3rem;
    font-size: 1.5rem;
}
.p-left:last-of-type,
.p-right:last-of-type {
    margin-bottom: 10rem;
}
.serverstats {
    display: flex;
    justify-content: space-between;
}
.serverstats * {
    backdrop-filter: brightness(150%);
    padding: 1rem;
    border-radius: 15px;
    margin: 1rem 3rem 0 3rem;
    font-size: 2rem;
}
.fa-copy {
    padding: 0;
    margin: 0;
    margin-left: 1em;
    width: 1em;
    height: 0;
}
.p-left {
    float: left;
    clear: both;
}
.p-right {
    margin-top: 5rem;
    float: right;
}
.green {
    color: #43ff40;
}
.red {
    color: #ff4040;
}